<div class="home-body">
  <div class="home-header">
    Choose your character:
  </div>
  <div class="home-container">
    <%= link_to passkey_path(character_name: 'chris'), class: 'character-card' do %>
    <img src="assets/chris-character.jpg" alt="Chris">
    <% end %>
    <%= link_to passkey_path(character_name: 'jake'), class: 'character-card' do %>
      <img src="assets/jake-character.jpg" alt="Jake">
    <% end %>
    <%= link_to passkey_path(character_name: 'caleb'), class: 'character-card' do %>
      <img src="assets/caleb-character.jpg" alt="Caleb">
    <% end %>
    <%= link_to passkey_path(character_name: 'jimmy'), class: 'character-card' do %>
      <img src="assets/jimmy-character.jpg" alt="Jimmy">
    <% end %>
    <%= link_to passkey_path(character_name: 'brycen'), class: 'character-card' do %>
      <img src="assets/brycen-character.jpg" alt="Brycen">
    <% end %>
</div>
