<div class="home-body">
  <div class="home-header">
    Choose your character:
  </div>
  <div class="home-container">
    <%= link_to passkey_path(character_name: 'Chris'), class: 'character-card' do %>
    <img src="assets/chris-character.jpg" alt="Chris">
    <% end %>
    <%= link_to passkey_path(character_name: 'Jake'), class: 'character-card' do %>
      <img src="assets/jake-character.jpg" alt="Jake">
    <% end %>
    <%= link_to passkey_path(character_name: 'Caleb'), class: 'character-card' do %>
      <img src="assets/caleb-character.jpg" alt="Caleb">
    <% end %>
    <%= link_to passkey_path(character_name: 'Jimmy'), class: 'character-card' do %>
      <img src="assets/jimmy-character.jpg" alt="Jimmy">
    <% end %>
    <%= link_to passkey_path(character_name: 'Brycen'), class: 'character-card' do %>
      <img src="assets/brycen-character.jpg" alt="Brycen">
    <% end %>
</div>
