<div>
  <h1>Goals for 2025 🎉</h1>
  <div>
    <div>
      <h2>Chris's Goals</h2>
      <%= form_with url: save_goal_path, method: :post, local: true do |form| %>
        <%= form.hidden_field :owner, value: @chris_goals.owner %>
        <%= form.text_area :goal, value: @chris_goals.content, placeholder: "Write your goal here...", rows: 5 %>
        <%= form.submit "Save" %>
      <% end %>
    </div>
    <div>
      <h2>Jake's Goals</h2>
      <%= form_with url: save_goal_path, method: :post, local: true do |form| %>
        <%= form.hidden_field :owner, value: @jake_goals.owner %>
        <%= form.text_area :goal, value: @jake_goals.content, placeholder: "Write your goal here...", rows: 5 %>
        <%= form.submit "Save" %>
      <% end %>
    </div>
    <div>
      <h2>Caleb's Goals</h2>
      <%= form_with url: save_goal_path, method: :post, local: true do |form| %>
        <%= form.hidden_field :owner, value: @caleb_goals.owner %>
        <%= form.text_area :goal, value: @caleb_goals.content, placeholder: "Write your goal here...", rows: 5 %>
        <%= form.submit "Save" %>
      <% end %>
    </div>
    <div>
      <h2>Jimmy's Goals</h2>
      <%= form_with url: save_goal_path, method: :post, local: true do |form| %>
        <%= form.hidden_field :owner, value: @jimmy_goals.owner %>
        <%= form.text_area :goal, value: @jimmy_goals.content, placeholder: "Write your goal here...", rows: 5 %>
        <%= form.submit "Save" %>
      <% end %>
    </div>
  </div>
</div>
